* {
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    background: url(../images/body-bg.jpg);
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.c-container {
    margin: 0 auto;
    max-width: 1500px;
}

.c__transition {
    transition: all 300ms;
}

.l-flex {
    display: flex;
}

.l-flex--center {
    justify-content: center;
    align-items: center;
}

.l-flex--wrap {
    flex-wrap: wrap;
}

.l-flex--stretch {
    align-items: stretch;
}

.l-flex--negative {
    margin-right: -12px;
    margin-left: -12px;
}

.l-flex--vertical {
    flex-direction: column;
}

.l__col-3 {
    padding: 12px;
    width: 25%;
}

.l__col-3--no-padding {
    padding: 0;
}

.l__col-4 {
    padding: 12px;
    width: 33.33%;
}

.l__col-4--no-padding {
    padding: 0;
}

.l__col-6 {
    padding: 12px;
    width: 50%;
}

.l__col-8 {
    padding: 12px;
    width: 66.66%;
}

.l__col-8--no-padding {
    padding: 0;
}

.l__col-9 {
    padding: 12px;
    width: 75%;
}

.l__col-9--no-padding {
    padding: 0;
}

.c-section{
    padding: 40px 20px;
}

.c-header__imgage {
    height: 40px;
}

a{
    color: #799cff;
    font-weight: 600;
    text-decoration: none;
}

a:hover, a:focus{
    color: #a78300;
}

img{
    max-width: 100%;
}

h1 {
    margin: 10px 0 5px;
    color: #799cff;
    font-size: 40px;
}

.c-title--small {
    font-size: 25px;
    font-weight: 300;
}

h2 {
    margin: 15px 0;
    font-size: 20px;
    color: white;
}

li{
    margin-bottom: 10px;
}

.c-title--big {
    margin: 30px 0;
    font-size: 28px;
}

.c-engraving-item-wrapper {
    border-right: 1px solid rgb(255 255 255 / 13%);
}

.c-engraving-item {
    padding-right: 15px;
}

.c-engraving-item__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-engraving-item__image img {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.c-button {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 6px 12px;
    color: white;
    background: #a78300;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.c-button--blue {
    background: #0889a7;
}

.c-button:hover {
    background: #33ad01;
    transform: scale(1.1);
}

input {
    width: 25%;
}

select {
    margin-right: 5px;
    width: 75%;
    cursor: pointer;
}

input,
select {
    height: 25px;
    margin-bottom: 3px;
    color: white;
    background: #353535;
    border-radius: 4px;
    border: none;
}

.c-engraving-item__negative {
    background: #522626;
}

input:focus,
input:hover,
select:focus,
select:hover {
    filter: brightness(1.6);
    outline: none;
}

.c-engraving-item__negative:focus {
    background: #853e3e;
}


.c-engraving-result {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: #76830a0d;
    border-bottom: #b1b1b140 solid 1px;
    border-radius: 4px;
    overflow: hidden;
}

.c-engraving-result h3 {
    margin: 0;
    padding: 4px 10px;
    color: white;
    background: linear-gradient(40deg, #131b24, #2c68b5, #0070ff05)
}

.c-engraving-point-lv {
    display: inline-block;
    margin-right: 5px;

}

.c-engraving-lv {
    padding: 2px 10px;
    background: #242424;
    color: #646464;
}

.c-engraving-lv.active {
    background: #2d3b4c;
    ;
    color: white;
}

.c-engraving-point {
    display: inline-block;
    margin: 10px 5px 0 5px;
    width: 15px;
    height: 15px;
    background: radial-gradient(#84c5d7, #00637485, #00b0e1);
    border: #66acd9 1px solid;
    border-radius: 2px;
    transform: rotate(45deg);
}


[engraving-type="negative"] h3 {
    background: linear-gradient(40deg, #440606, #c30f0f, #e500001c);
}

[engraving-type="negative"] .c-engraving-point {
    background: radial-gradient(#ff9999, #dd2424ba, #ff7a7a);
    border: #fb8b8b 1px solid;
}

[engraving-type="negative"] .c-engraving-lv.active {
    background: #762424;
}

.c-engraving-point:not(.active) {
    filter: grayscale(1);
}

.c-engraving-result__extra-points {
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
}

.c-engraving-result__extra-points:after {
    content: '!';
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background: #c71515;
    border-radius: 50%;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}


.c-footer {
    padding: 40px 20px;
    color: white;
}

.c-footer__text {
    padding-left: 10px;
}

.c-donate {
    margin: 20px 15px 40px 0;
    max-width: 100px;
}

.c-donate:hover, .c-donate:focus{
    transform: scale(1.1);
}

.c-ads {
    margin: 70px 0;
}

.c-footer__text * {
    margin-top: auto;
}

/* Responsive*/

@media (max-width: 1024px){

    .l__col-mobile-big{
        width: 100%;
    }

    .c-engraving-item-wrapper {
        padding-bottom: 40px;
        border-right: none;
        border-bottom: 1px solid rgb(255 255 255 / 13%);
    }

    select {
        margin-right: 10px;
    }

    input, select {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){
    .l__col-6{
        width: 100%;
    }

    .c-footer__text{
        width: 100%;
    }

    .c-donate{
        margin-bottom: 20px;
    }
}

@media (max-width: 478px){
    *{
        text-align: center;
        text-align-last: center;
    }

    .l__col-3, .l__col-9{
        width: 100%;
    }

    .c-engraving-item__image img {
        position: static;
        transform: none
    }

    .c__mobile-center{
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 30px;
    }
}