/* ---------------------------------------------------------------------------------------------------------------------------------
Colors
--------------------------------------------------------------------------------------------------------------------------------- */

$colorBlack: #222;
$colorWhite: #fff;
$colorOcher: #a78300;
$colorGray: #ffffff21;
$colorGreen: #33ad01;
$colorBlue: #0889a7;
$colorNavyBlue: #799cff;
$colorDarkRed: #853e3e;
$colorRed: #c71515;

/* ---------------------------------------------------------------------------------------------------------------------------------
Typography
--------------------------------------------------------------------------------------------------------------------------------- */
$fontSize: 14px;
$fontFamily: sans-serif;

h1{
    color: $colorNavyBlue;
    font-size: 50px
}

/* ---------------------------------------------------------------------------------------------------------------------------------
Flex
--------------------------------------------------------------------------------------------------------------------------------- */

$flexPadding: 12px;

.l-flex {
    display: flex;
}

.l-flex--center {
    justify-content: center;
    align-items: center;
}

.l-flex--wrap {
    flex-wrap: wrap;
}

.l-flex--stretch {
    align-items: stretch;
}

.l-flex--vertical {
    flex-direction: column;
}

.l-flex--negative {
    margin-right: -$flexPadding;
    margin-left: -$flexPadding;
}

/* ---------------------------------------------------------------------------------------------------------------------------------
Flex Collumns
--------------------------------------------------------------------------------------------------------------------------------- */

%flexColPatterns{
    padding: $flexPadding;
}

.l__col-3 {
    @extend %flexColPatterns;
    width: 25%;
}

.l__col-4 {
    @extend %flexColPatterns;
    width: 33.33%;
}

.l__col-6 {
    @extend %flexColPatterns;
    width: 50%;
}

.l__col-8 {
    @extend %flexColPatterns;
    width: 66.66%;
}


.l__col-9 {
    @extend %flexColPatterns;
    width: 75%;
}

.l__col-no-padding{
    padding: 0;
}

/* ---------------------------------------------------------------------------------------------------------------------------------
Transition
--------------------------------------------------------------------------------------------------------------------------------- */
%transition {
    transition: all 300ms;
}

/* ---------------------------------------------------------------------------------------------------------------------------------
Elements
--------------------------------------------------------------------------------------------------------------------------------- */
%center{
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: $fontSize;
    font-family: $fontFamily;
    overflow-x: hidden;
    background: url(../images/body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1500px;
}

img{
    max-width: 100%;
}

a{
    @extend %transition;
    color: $colorWhite;
    text-decoration: none;
}

svg{
    margin-left: 5px;
    margin-right: 5px;
}



